__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/
.env

outputs/
inputs/audios/
inputs/txt/
*.mp3
*.wav
*.m4a
*.flac
*.ogg
*.aac
*.wma
*.txt
*.json
*.csv
*.xlsx
*.log

.DS_Store
Thumbs.db
.vscode/
.idea/
